apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app-deployment
spec:
  replicas: 2                     # Number of copies (pods) of your app
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: yourdockerhubusername/nodejs-app:7   # <-- your Docker Hub image
        ports:
        - containerPort: 3002   # The port your Node.js app listens to inside container
